
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4 class="bold "><%= link_to "Edit Food", menu_food_path %></h4>
    
    <div class="card p-5">
      <%= render 'form', food: @food %>
      <br  />
    </div>

  </div>

</div>
