<p class="menu-main-header mb-3">DishFlow</p>
<%= link_to 'Check out your Menus',  menus_path, class: "btn btn-light" %>
<br />
<br />
<div class="row">
  <div class="col-7">
    <p class="menu-paragraph">
      Supercharged your menu!

      That's right. Add some data analysis to each item in your menu. Measure components that make your dish great. That's right, this is Operation: Make Your Dish Great Again (MYDGA).

      Collaborate with your fellow chefs, servers, management, and even your customers.
      When your experimenting with a new dish, make a note on your progress. Invite someone else to take a look and make suggestions on what could be done better.

      Rating and reviews do not have to be anonymous. Limit on who can leave a review OR make it for the public, just like Yelp. It's your choice.

      Make every item in your menu to be clickable for users to see more info of the ingredients, the story behind the dish and what other users like (or dislike) about the dish.

      Arrange the order in your menu, whichever you like. 2 people can be looking at the same menu but on a different level. You can set a role for each of your user which will determine what they can do within your menu (view, update or even create).  Over time we will also add different themes to reflect more of your restaurants. 
    </p>
  </div>
  <div class="col-5"></div>
</div>
