<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4 class="bold"><%= link_to "Editing Recipe", @recipe %></h4>

    <%= render 'form', recipe: @recipe %>

  </div>
</div>
