<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4 class="bold">New Recipe</h4>

    <%= render 'form', recipe: @recipe %>

    <%= link_to 'Back', recipes_path %>
  </div>
</div>
