<p class="menu-main-header mb-5">DishFlow</p>
<% if user_signed_in? %>

  <wired-button><%= link_to 'log out',  destroy_user_session_path, :method => :delete %></wired-button>
<% else %>
  <wired-button><%= link_to 'Create account',  new_account_path %></wired-button>
  <wired-button><%= link_to 'log in',  new_user_session_path
 %></wired-button>
<% end %>
<br />
<br />
<div class="row">
  <div class="col-7">
    <p class="menu-paragraph">Part of the magic of iPad is that almost anything can be done with Multi-Touch using simple, intuitive gestures. And now iPadOS makes it easier and faster to select and edit text using just your fingers.</p>
  </div>
  <div class="col-5"></div>
</div>
